.footer h1 {
  padding-top: 100px;
  color: white;
}
.footer p {
  color: white;
}
.footer .google-download {
  position: absolute;
  margin-top: 21px;
  left: 60px;
  width: 180px;
}
.footer .apple-download {
  position: absolute;
  margin-top: 30px;
  right: 60px;
  width: 150px;
}
.copyright p {
  text-align: center;
  color: white;
}
