@media (min-width: 300px) {
  .navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: center;
  }
  .navBar .navLogo {
    width: 200px;
    margin-top: 8px;
    margin-left: 10px;
  }
  .navBar .nav {
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
  }
  .navBar .nav .loginButton {
    height: 15px;
    background-color: #03a3f3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 40px;
    text-decoration: none;
    margin-left: 5px;
  }
  .navBar .nav .loginButton:hover {
    background-color: white;
    color: #03a3f3;
  }
}
body {
  background-image: url("/marketing-site/resources/img/tactile_noise.png");
  background-repeat: repeat-y-x;
  margin: 0 auto;
  font-family: aktiv-grotesk;
}
@media (min-width: 300px) {
  .top-market .guy-phone {
    width: 100%;
    z-index: 1;
    filter: brightness(65%);
    -webkit-mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  }
  .top-market .top-cta {
    position: absolute;
    text-align: center;
    margin-top: -270px;
    margin-left: 40px;
    font-size: 35px;
    color: white;
  }
  .top-market .nav {
    margin-top: -150px;
    margin-bottom: 5px;
    position: absolute;
  }
  .top-market .nav .loginButton {
    height: 15px;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #03a3f3;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 50px;
    text-decoration: none;
    margin-left: 65px;
    margin-right: -30px;
  }
  .top-market .nav .signupButton {
    height: 15px;
    background-color: #03a3f3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 55px;
    text-decoration: none;
    margin-left: 60px;
    margin-right: -40px;
  }
  .top-market .google-download {
    position: absolute;
    margin-top: -89px;
    left: 65px;
    width: 180px;
  }
  .top-market .apple-download {
    position: absolute;
    margin-top: -80px;
    right: 70px;
    width: 150px;
  }
  .upper-mid-market {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(3, 163, 243, 0.753));
  }
  .upper-mid-market p {
    color: white;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .upper-mid-market h1 {
    margin-top: 30px;
    color: #03a3f3;
    text-align: center;
  }
  .upper-mid-market .onboarding-mock {
    margin-top: 20px;
    margin-left: 90px;
    width: 300px;
  }
  .lower-market {
    margin-top: -30px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(3, 163, 243, 0.753));
  }
  .lower-market h1 {
    margin-top: 30px;
    color: white;
    text-align: center;
  }
  .lower-market p {
    margin-top: 50px;
    line-height: 26px;
    font-size: 18px;
    color: white;
    text-align: center;
  }
  .lower-market .running-girl {
    position: relative;
    width: 500px;
    margin-top: 70px;
    margin-left: 40px;
  }
  .lower-market .feature-graphic {
    width: 90%;
    margin-left: 25px;
  }
  .lower-market .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lower-market .boxes .box {
    margin-top: 20px;
    height: 400px;
    width: 400px;
  }
  .lower-market .trips {
    margin-left: 10px;
    width: 450px;
  }
}
@media (min-width: 300px) {
  .footer {
    text-align: center;
  }
  .footer h1 {
    padding-top: 100px;
    color: white;
  }
  .footer p {
    color: white;
  }
  .footer .google-download {
    position: absolute;
    margin-top: 21px;
    left: 60px;
    width: 180px;
  }
  .footer .apple-download {
    position: absolute;
    margin-top: 30px;
    right: 60px;
    width: 150px;
  }
  .copyright p {
    text-align: center;
    color: white;
  }
}
