@media @mobile {
  .top-market {
    .guy-phone {
      width: 100%;
      z-index: 1;
      filter: brightness(65%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      );
    }

    .top-cta {
      position: absolute;
      text-align: center;
      margin-top: -270px;
      margin-left: 40px;
      font-size: 35px;
      color: white;
      // color: #03a3f3;
    }
    .nav {
      margin-top: -150px;
      margin-bottom: 5px;
      // display: none;
      position: absolute;
      .loginButton {
        height: 15px;
        background-color: #ffffff;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #03a3f3;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 50px;
        text-decoration: none;
        margin-left: 65px;
        margin-right: -30px;
      }
      .signupButton {
        height: 15px;
        background-color: #03a3f3;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 55px;
        text-decoration: none;
        margin-left: 60px;
        margin-right: -40px;
      }

      // .loginButton:hover {
      //   background-color: white;
      //   color: #03a3f3;
      // }
    }
    .google-download {
      position: absolute;
      margin-top: -89px;
      left: 65px;
      width: 180px;
    }

    .apple-download {
      position: absolute;
      margin-top: -80px;
      right: 70px;
      width: 150px;
    }
  }

  .upper-mid-market {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(3, 163, 243, 0.753)
    );

    p {
      color: white;
      line-height: 30px;
      font-size: 20px;
      margin-bottom: 30px;
      text-align: center;
    }
    h1 {
      margin-top: 30px;
      color: #03a3f3;
      text-align: center;
    }
    .onboarding-mock {
      margin-top: 20px;
      margin-left: 90px;
      width: 300px;
    }
  }

  .lower-market {
    margin-top: -30px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(3, 163, 243, 0.753)
    );

    h1 {
      margin-top: 30px;
      color: white;
      text-align: center;
    }
    p {
      margin-top: 50px;
      line-height: 26px;
      font-size: 18px;
      color: white;
      text-align: center;
    }

    .running-girl {
      position: relative;
      width: 500px;
      margin-top: 70px;
      margin-left: 40px;
    }

    .feature-graphic {
      width: 90%;
      margin-left: 25px;
    }
    .boxes {
      display: flex;
      flex-direction: column;
      align-items: center;

      .box {
        margin-top: 20px;
        height: 400px;
        width: 400px;
      }
    }

    .trips {
      margin-left: 10px;
      width: 450px;
    }
  }
}

@media @tablet {
}
