.top-market {
  .guy-phone {
    width: 100%;
    filter: brightness(65%);
  }

  .top-cta {
    position: absolute;
    text-align: center;
    margin-top: -270px;
    margin-left: 40px;
    font-size: 35px;
    color: white;
    // color: #03a3f3;
  }
  .google-download {
    position: absolute;
    margin-top: -140px;
    left: 60px;
    width: 180px;
  }

  .apple-download {
    position: absolute;
    margin-top: -130px;
    right: 60px;
    width: 150px;
  }
}

.upper-mid-market {
    margin-top: -24px;
  height: 1000px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(3, 163, 243, 0.753));

    h1 {
        margin-top: 30px;
        color: #03A3F3;
        text-align: center;
    }
  .onboarding-mock {
      margin-top: 20px;
      margin-left: -250px;
      width: 1000px;
  }

  p {
      color: white;
      font-size: 30px;
      text-align: center;

  }
}

.lower-market {
    margin-top: -30px;
    height: 1000px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) , rgba(3, 163, 243, 0.753));
  
    p {
        color: white;
        font-size: 30px;
        text-align: center;
  
    }

    .running-girl {
        position: relative;
        width: 500px;
        margin-left: 40px;
    }

    .trips {
        width: 100%;
    }
}
