@media @mobile {
  .navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: center;

    .navLogo {
      width: 200px;
      margin-top: 8px;
      margin-left: 10px;
    }
    .nav {
      margin-top: 5px;
      margin-bottom: 5px;
      display: none;
      .loginButton {
        height: 15px;
        background-color: #03a3f3;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 40px;
        text-decoration: none;
        margin-left: 5px;
      }

      .loginButton:hover {
        background-color: white;
        color: #03a3f3;
      }
    }
  }
}

@media @tablet {
  .navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: space-between;

    .navLogo {
      width: 200px;
      margin-top: 8px;
      margin-left: 10px;
    }
    .nav {
      margin-top: 15px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      margin-right: 10px;
      .loginButton {
        height: 15px;
        background-color: #03a3f3;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 40px;
        text-decoration: none;
        margin-left: 15px;
      }

      .loginButton:hover {
        background-color: white;
        color: #03a3f3;
      }
    }
  }
}
