.react-calendar {
  width: 370px;
  max-width: 100%;
  height: 300px;
  background: radial-gradient(
    360.51px at 64.26% 22.01%,
    #394366 0%,
    #29304a 100%
  );
  border-radius: 16px;
  border: none;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  color: rgba(255, 255, 255, 0.867782);
}

.react-calendar__month-view__days__day--weekend {
  color: rgba(255, 255, 255, 0.867782);
}
.react-calendar__tile--active {
  background: linear-gradient(
    229.21deg,
    #45c1ff 6.01%,
    #03a3f3 28.79%,
    #2367ff 77.05%
  );
  color: white;
}

.react-calendar__tile {
  height: 35px;
}

button {
  color: rgba(255, 255, 255, 0.867782);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: linear-gradient(
    229.21deg,
    #45c1ff 6.01%,
    #03a3f3 28.79%,
    #2367ff 77.05%
  );
}
